
</div>
<!-- Footer -->
<footer class="page-footer font-small stylish-color-dark pt-4 bg-dark text-white">
    <!-- Footer Links -->
    <div class="container text-center text-md-left">
      <!-- Grid row -->
      <div class="row">
        <!-- Grid column -->
        <div class="col-md-4 mx-auto">
          <!-- Content -->
          <h5 class="font-weight-bold text-uppercase mt-3 mb-4">The standard Lorem Ipsum passage, used since the 1500's</h5>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        </div>
        <!-- Grid column -->
        <hr class="clearfix w-100 d-md-none">
        <!-- Grid column -->
        <div class="col-md-2 mx-auto">
          <!-- Links -->
          <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Noticias</h5>
          <ul class="list-unstyled">
            <li class="py-2">
              <a href="https://www.emol.com/nacional/">Emol</a>
            </li>
            <li class="pb-2">
              <a href="https://www.24horas.cl/">24 Horas</a>
            </li>
            <li class="pb-2">
              <a href="https://www.publimetro.cl/cl/noticias/">Publimetro</a>
            </li>
            <li class="pb-2">
              <a href="https://cnnespanol.cnn.com/">CNN</a>
            </li>
          </ul>
        </div>
        <!-- Grid column -->
        <hr class="clearfix w-100 d-md-none">
        <!-- Grid column -->
        <div class="col-md-2 mx-auto">
          <!-- Links -->
          <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Tecnologias</h5>
          <ul class="list-unstyled">
            <li class="py-2">
              <a href="https://nodejs.org/es/">Node.js</a>
            </li>
            <li class="pb-2">
              <a href="https://expressjs.com/es/">Express.js</a>
            </li>
            <li class="pb-2">
              <a href="https://mongoosejs.com/">Mongoose.js</a>
            </li>
            <li class="pb-2">
              <a href="https://ejs.co/">EJS</a>
            </li>
          </ul>
        </div>
        <!-- Grid column -->
        <hr class="clearfix w-100 d-md-none">
        <!-- Grid column -->
        <div class="col-md-2 mx-auto">
          <!-- Links -->
          <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Otros</h5>
          <ul class="list-unstyled">
            <li class="py-2">
              <a href="https://www.reddit.com/">Reddit</a>
            </li>
            <li class="pb-2">
              <a href="http://www.4chan.org/">4Chan</a>
            </li>
            <li class="pb-2">
              <a href="https://soundcloud.com/">Soundcloud</a>
            </li>
            <li class="pb-2">
              <a href="https://www.newgrounds.com/">Newground</a>
            </li>
          </ul>
        </div>
        <!-- Grid column -->
      </div>
      <!-- Grid row -->
    </div>
    <!-- Footer Links -->
    <hr>
    <!-- Call to action -->
    <ul class="list-unstyled list-inline text-center py-2">
      <li class="list-inline-item">
        <a href="/register" class="btn btn-danger btn-rounded">Register Now!</a>
      </li>
    </ul>
    <!-- Call to action -->
    <hr>
    <!-- Social buttons -->
    <ul class="list-unstyled list-inline text-center">
      <li class="list-inline-item">
        <a class="btn-floating btn-fb mx-1">
          <i class="fab fa-facebook-f"> </i>
        </a>
      </li>
      <li class="list-inline-item">
        <a class="btn-floating btn-tw mx-1">
          <i class="fab fa-twitter"> </i>
        </a>
      </li>
      <li class="list-inline-item">
        <a class="btn-floating btn-gplus mx-1">
          <i class="fab fa-google-plus-g"> </i>
        </a>
      </li>
      <li class="list-inline-item">
        <a class="btn-floating btn-li mx-1">
          <i class="fab fa-linkedin-in"> </i>
        </a>
      </li>
      <li class="list-inline-item">
        <a class="btn-floating btn-dribbble mx-1">
          <i class="fab fa-dribbble"> </i>
        </a>
      </li>
    </ul>
    <!-- Social buttons -->
    <!-- Copyright -->
    <div class="footer-copyright text-center py-2">© 2019 Copyright. Todos los derechos reservados.</div>
    <div class="footer-copyright text-center py-1 pb-4">Icons made by:
        <a href="https://www.flaticon.com/authors/freepik"> Freepik,</a>
        <a href="https://www.flaticon.com/authors/pixel-perfect"> Simpleicon,</a>
        <a href="https://www.flaticon.com/authors/freepik"> Pixel-Perfect,</a>
        and 
        <a href="https://www.flaticon.com/authors/vectors-market"> Vectors-Market,</a>
        from 
        <a href="https://www.flaticon.com/"title="Flaticon">www.flaticon.com</a>
      </div>
    <!-- Copyright -->
  </footer>
  <!-- Footer -->
  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">
  </script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous">
  </script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
  </script>
  </body>

  </html>