<%- include('includes/header.ejs') %>
<%- include('includes/nav.ejs') %>


<div class="container mb-3">
  
  <!-- Por que usarnos -->
  <div class="row">
    <div class="col-md-12">
      <h2 class="text-center">¿Por que usarnos?</h2>
    </div>
  </div>
  <div class="row text-center mb-3">
    <div class="col-md-4">
      <img src="images/animated_icons/police.svg" class="d-inline-block align-top" alt="">
      <h4>Conexion con carabineros de Chile</h4>
    </div>
    <div class="col-md-4">
      <img src="images/animated_icons/policeCar.svg" class="d-inline-block align-top" alt="">
      <h4>Ayuda instantanea y eficaz, en donde sea que estes.</h4>
    </div>
    <div class="col-md-4">
      <img src="images/animated_icons/clock.svg" class="d-inline-block align-top" alt="">
      <h4>Funcionamiento de 24 Horas al dia, todos los dias.</h4>
    </div>
  </div>
  <hr class="my-5">
  <!-- Como usarnos -->
  <div class="row my-3 mb-5">
    <div class="col-md-12 mb-3">
      <h2 class="text-center">¿Como usarnos?</h2>
    </div>
  </div>
  <div class="row text-center mb-5">
    <div class="col-md-3">
      <img src="images/icons/sms.svg" class="d-inline-block align-top" width="100" height="100" alt="">
      <h4>SMS</h4>
    </div>
    <div class="col-md-3">
      <img src="images/icons/apple-logotype.svg" class="d-inline-block align-top" width="100" height="100" alt="">
      <h4>iMessages</h4>
    </div>
    <div class="col-md-3">
      <img src="images/icons/google-hangouts.svg" class="d-inline-block align-top" width="100" height="100" alt="">
      <h4>Hangouts</h4>
    </div>
    <div class="col-md-3">
      <img src="images/icons/whatsapp.svg" class="d-inline-block align-top" width="100" height="100" alt="">
      <h4>WhatsApp</h4>
    </div>
  </div>
  
  
  
</div>


<!-- Button trigger modal -->




<%- include('includes/footer.ejs') %>