<%- include('includes/header.ejs') %>
<%- include('includes/nav.ejs') %>

<!-- Button trigger modal -->
<button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#modelId">
  Login
</button>

<a href="login"><button type="button" class="btn btn-primary btn-lg">Login</button></a>
<%- include('includes/footer.ejs') %>